[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
black = "*"
marshmallow = "==3.0.0b16"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
flask-cors = "*"
gunicorn = "*"

[requires]
python_version = "3.7.1"

[pipenv]
allow_prereleases = true
